@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a; /* Темный фон, slate-900 */
    color: white;
    margin: 0;
    user-select: none; /* Запрещаем выделять текст мышкой */
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}